<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>IsNull</Title>
            <Author>AlexFilipeMB.98</Author>
            <Description>Método string.IsNullOrWhiteSpace()</Description>
            <Shortcut>isnull</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp"> <![CDATA[string.IsNullOrWhiteSpace($str$)$end$]]> </Code>
            <Declarations>
                <Literal>
                    <ID>str</ID>
                    <ToolTip>String a ser validada</ToolTip>
                    <Default></Default>
                </Literal>
            </Declarations>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>