<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Try Catch with Error Handler</Title>
            <Author>AlexFilipeMB.98</Author>
            <Description>Wraps code with try-catch and error handler.</Description>
            <Shortcut>trycatch</Shortcut>
        </Header>
        <SnippetTypes>
            <SnippetType>Expansion</SnippetType>
            <SnippetType>SurroundsWith</SnippetType>
        </SnippetTypes>
        <Snippet>
            <Code Language="csharp">
                <![CDATA[
                        try
                        {
                            $selected$
                        }
                        catch (Exception ex)
                        {
                            Helpers.ErrorHelper.Handler(ex);
                        }
                ]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>